<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>
<div style="width: 96%;margin: auto">
<!--    <div class="demoTable">-->
<!--        搜所股票代碼：-->
<!--        <div class="layui-inline">-->
<!--            <input class="layui-input" name="id" id="demoReload" autocomplete="off">-->
<!--        </div>-->
<!--        <button class="layui-btn" data-type="reload">搜索</button>-->
<!--    </div>-->
    <table class="layui-hide" id="test" lay-filter="test" ></table>
</div>

</body>
<script src="layui/layui.js" type="text/javascript"></script>
<script src="js/jquery-2.0.3.min.js" type="text/javascript" ></script>
<script>
    var $;
    var layer;
    var table;
    layui.use('table', function() {
        table = layui.table,$ = layui.$;
        layer =layui.layer;
        table.render({
            elem: '#test'
            , url: '/sum'
            ,done :doneRefresh
            , cols: [
                [
                    {field:'f12', title: '股票代码', sort: true,event:'urq'}
                    ,{field:'f14', title: '股票名称'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    ,{field:'f2', title: '最新价',  align: 'center'}
                    ,{field:'f3', title: '涨跌幅%', sort: true, align: 'center'}
                    ,{field:'ten', title: '10tian平均%', sort: true, align: 'center'}
                ]
            ]
            , page: true
            ,id: 'testReload'
        });

    var $ = layui.$, active = {
        reload: function(){
            var demoReload = $('#demoReload').val();
            //执行重载
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                        name: demoReload
                }
            }, 'data', $(" #demoReload").val(""));




        }
    };
        //监听单元格事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'urq'){
                alert("查看股票代码："+data.Code+"的详情")
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        code: data.Code
                    }
                }, 'data');
            }
        });

    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    //自动渲染绑定按钮
    function doneRefresh(){
    }
})
</script>
</html>