<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyh.stockcomparison.mbg.mapper.DfcfEastmoneyMapper">
   <insert id="addDfcf" parameterType="com.dyh.stockcomparison.mbg.model.DfcfEastmoney">
       INSERT INTO `dfcf_eastmoney` ( `f2`, `f3`, `f4`, `f5`, `f12`, `f14`, `date`, `utdate`)
        VALUES (#{f2}, #{f3}, #{f4}, #{f5}, #{f12}, #{f14}, #{date }, #{utdate});
       <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
           SELECT Last_INSERT_ID()
       </selectKey>
   </insert>
    <select id="selectcode" resultType="com.dyh.stockcomparison.mbg.model.DfcfEastmoney">
        SELECT * FROM dfcf_eastmoney WHERE f12=#{code};
    </select>
    <update id="updateDfcF" parameterType="com.dyh.stockcomparison.mbg.model.DfcfEastmoney">

        UPDATE `dfcf_eastmoney` SET  `f2`=#{f2}, `f3`=#{f3}, `f4`=#{f4}, `f5`=#{f5},  `utdate`=#{utdate} WHERE (`f12`=#{f12});
    </update>
    <select id="scode" resultType="com.dyh.stockcomparison.mbg.model.DfcfEastmoney">
        SELECT id, f12 FROM dfcf_eastmoney
    </select>
    <select id="sall" resultType="com.dyh.stockcomparison.mbg.model.DfcfEastmoney">
        SELECT * FROM dfcf_eastmoney
    </select>

</mapper>