<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyh.stockcomparison.mbg.mapper.SubKdMapper">
   <insert id="addsubk" parameterType="java.util.List">
       INSERT INTO `ths`.`sub_kd` ( `data`, `current_Amount`,
       `volume`, `turnover`, `st_id`)
       VALUES
       <foreach collection="list" item="SubKd" index="index" separator="," >
           (#{SubKd.data}, #{SubKd.currentAmount}, #{SubKd.volume},
           #{SubKd.turnover}, #{SubKd.stId})
       </foreach>;
       <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
           SELECT Last_INSERT_ID()
       </selectKey>
   </insert>
    <select id="selest_id" resultType="java.util.LinkedHashMap">
        select id ,st_id from sub_kd where st_id=#{st_id}
    </select>
    <select id="seletsum" resultType="String">
       SELECT SUM(a.current_Amount) as ten FROM (SELECT sk.current_Amount FROM sub_kd as sk WHERE st_id=#{st_id}  ORDER BY sk.data DESC
       LIMIT
        <if test="da ==10">
            0,10
        </if>
        <if test="da ==15">
            0,15
        </if>
        <if test="da ==20">
            0,20
        </if>
        <if test="da ==5">
            0,5
        </if>
        )a
    </select>
    <select id="seletor" resultType="com.dyh.stockcomparison.mbg.model.SubKd">
        SELECT id from sub_kd WHERE
            `data`= #{d} AND st_id= #{stId}
    </select>
    <update id="updatesubk" parameterType="com.dyh.stockcomparison.mbg.model.SubKd">
        UPDATE `sub_kd` SET `data` =#{data}, `current_Amount` =#{currentAmount},
        `volume` = #{volume}, `turnover` = #{turnover}, `st_id` = #{stId}
        WHERE `id` = #{id}
    </update>

</mapper>